<br>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="60" align="center" height="25">
            <img src="/zdh/zdkzyl/images/listbutton1.gif" width="23" height="28" border="0" />
        </td>
        <td height="25" class="dlink">
            <a href="/zdh/zdkzyl/channels/293.html" class="dlink">项目申请书</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: url(/zdh/zdkzyl/images/fgx.gif) repeat-x; height: 1px;">
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="60" align="center" height="25">
            <img src="/zdh/zdkzyl/images/listbutton1.gif" width="23" height="28" border="0" />
        </td>
        <td height="25" class="dlink">
            <a href="javascript:;" class="dlink">课程概况</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: url(/zdh/zdkzyl/images/fgx.gif) repeat-x; height: 1px;">
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/253.html">课程目标</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/249.html">教师团队</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/250.html">教学条件</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/251.html">教学方法</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/252.html">重点难点</a>  <img src="/zdh/zdkzyl/upload/images/2014/10/21214012430.gif"
                border="0"></img>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/248.html">课程说明</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="60" align="center" height="25">
            <img src="/zdh/zdkzyl/images/listbutton1.gif" width="23" height="28" border="0" />
        </td>
        <td height="25" class="dlink">
            <a href="javascript:;" class="dlink">课程内容</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: url(/zdh/zdkzyl/images/fgx.gif) repeat-x; height: 1px;">
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/255.html">教学大纲</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/288.html">教学日历</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/257.html">电子教案</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/258.html">教学录像</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/261.html">素材资源</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/260.html">试题库</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/289.html">作业指导</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/259.html">实习实验</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="60" align="center" height="25">
            <img src="/zdh/zdkzyl/images/listbutton1.gif" width="23" height="28" border="0" />
        </td>
        <td height="25" class="dlink">
            <a href="/zdh/zdkzyl/channels/263.html" class="dlink">互动交流</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: url(/zdh/zdkzyl/images/fgx.gif) repeat-x; height: 1px;">
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/290.html">微信平台</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/291.html">教学论坛</a>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/271.html">学习心得</a><img src="/zdh/zdkzyl/upload/images/2014/10/21214012430.gif"
                border="0"></img>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="40" height="28" align="right" style="border-bottom: 1px #e1e1e1 solid;">
            <img src="/zdh/zdkzyl/images/tub.gif" width="5" height="9" border="0"></img>
        </td>
        <td height="28" style="border-bottom: 1px #e1e1e1 solid; padding-left: 10px;">
            <a href="/zdh/zdkzyl/channels/292.html">课程组信箱</a>
        </td>
    </tr>
</table>
<br />