<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <style>
        .hide{
            display:none;
        }
        .shadow{
            position:fixed;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background-color:black;
            opacity:0.4;
            z-index:999;
        }
        .add_modal{
            z-index:1000;
            position:fixed;
            left:50%;
            top:50%;
            height:300px;
            width:400px;
            background-color:white;
            margin-left:-200px;
            margin-top:-200px;
        }
    </style>
</head>
<body>
     <h1>学生列表</h1>
     <div>
         <a href="/addstudent/"> 添加 </a>
         <a id="addModal" href="#"> 对话框添加 </a>
     </div>
     <table>
         <thead>
              <tr>
                  <th>ID  </th>
                  <th>学生姓名</th>
                  <th>所属班级</th>
                  <th>操作</th>
              </tr>
         </thead>
         <tbody>
              {% for row in student_list %}
                 <tr>
                     <td> {{ row.id }}</td>
                     <td> {{ row.stu_name }}</td>
                     <td clsId="{{row.class_id_id}}"> {{ row.title }}</td>

                     <td>
                         <a href="/editstudent/?nid={{row.id}}"> 编辑 </a>
                         |
                         <a class="btn-edit" href="#"> 对话框编辑 </a>
                         |
                         <a href="#"> 删除 </a>
                     </td>
                 </tr>
              {% endfor %}
         </tbody>
     </table>

     <div id="shadow" class="shadow hide"></div>
     <div id="add_modal" class="add_modal hide">

         <p>
             姓名：<input id="addName" type="text" name="name" placeholder="name"/>
         </p>
         <p>
             班级：
             <select id="addClassId" name="classId">
                 {% for row in class_list %}
                    <option value="{{row.id}}"> {{row.title}} </option>
                 {% endfor %}
             </select>
         </p>
         <input id="btnAdd" type="button" value="添加"/>
         <span id="addError" style="color:red;"></span>
     </div>

      <div id="edit_modal" class="add_modal hide">
          <h3>编辑学生信息</h3>
          <p>
             姓名：<input id="editName" type="text" name="name" placeholder="name"/>
                   <input type="text" id="editId" style="display:none"/>
          </p>
          <p>
             班级：
             <select id="editClassId" name="classId">
                 {% for row in class_list %}
                    <option value="{{row.id}}"> {{row.title}} </option>
                 {% endfor %}
             </select>
          </p>
          <input id="btnEdit" type="button" value="更新"/>
          <span id="editError" style="color:red;"></span>
     </div>
     <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
     <script>
         //jQuery
         $(function(){
             //点击添加出现对话框
            $('#addModal').click(function(){
                $('#shadow,#add_modal').removeClass('hide');
            });

            $('#btnAdd').click(function(){
                $.ajax({
                    url:'/modal_add_student/',
                    type:'POST',
                    data:{ 'name':$('#addName').val(),'class_id':$('#addClassId').val() },
                    success:function(arg){
                         arg = JSON.parse(arg);
                         if (arg.status){
                            location.reload()
                         }
                         else{
                            $('#addError').text(arg.message)

                         }
                    }

                })
            })

            $('.btn-edit').click(function(){
                $('#shadow,#edit_modal').removeClass('hide')
                var tds = $(this).parents().prevAll();
                var studentId = $(tds[2]).text();
                var studentName = $(tds[1]).text();
                var classId = $(tds[0]).attr('clsId');
                console.log(studentId,studentName,classId);

                $('#editId').val(studentId);
                $('#editName').val(studentName);
                $('#editClassId').val(classId);
            })

            $('#btnEdit').click(function(){
                $.ajax({
                     url:'/modal_edit_student/',
                     type:'POST',
                     data:{ 'nid':$('#editId').val(),'name':$('#editName').val(),'class_id':$('#editClassId').val() },
                     dataType:'JSON',
                     success:function(arg){
                         if(arg.status){
                             location.reload();
                         }
                         else{
                             $('#editError').text(arg.message);
                         }

                     }

                })
            })
         })
     </script>
</body>
</html>