<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>高德地图监控</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=28c4ca23a70f8cc7a4c0440036cbeeb5"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    ul.padding
    {
        padding-left:2px;
	    padding-right:20px
    }
    ul{
       list-style:none;
    }
    </style>
</head>
<body>
<div id="container"></div>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:4,
        center: [116.397428, 39.90923]
    });

    var markers = [];
    var infoWindow;
    $(function(){
        $.ajax({
            url: "/gaode/",             //ajax请求后台的路径
            type: "GET",                //以get方式传输，get方式可以默认不写
            dataType : "json",         //数据类型
            success:function(xhr) {
                 var obj = JSON.parse(xhr);
                 var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -12)});  //定义视窗的偏移量
                 for(var i=0;i<obj.length;i++){
                      var marker;   //定义标记
                      var jfong = [ obj[i].FLong, obj[i].FLati];
                      marker = new AMap.Marker({
                         position:jfong,     //获取经纬度
			             zIndex: 1011,
                         map: map,
                         offset: new AMap.Pixel(-12,-12),
                      });
                      marker.content = (
                             "<ul class='padding'>\
                             <li><span style='color:blue;'><b> 设备实时信息显示</b></span></li>"
                             + "<li>  城市/区: <span style='color:blue'>"+obj[i].Address+"  </span></li>"
                             + "<li>  当前时间: <span style='color:blue'>"+new Date().toLocaleString()+" </span></li>"
                             + "<li>  日发电量: <span style='color:blue'>"+obj[i].Daily_output+"  </span></li>"
                             + "<li>  总发电量: <span style='color:blue'>"+obj[i].Total_output+"  </span></li>"
                             + "<li>  输出功率: <span style='color:blue'>"+obj[i].Output_power+"  </span></li>"
                             + "<li>  设备是否异常 : <span style='color:blue'>"+obj[i].Error+"  </span></li></ul>");
                      marker.on('click', markerClick);
                      marker.emit('click', {target: marker});
                 }
                 function markerClick(e) {
                     infoWindow.setContent(obj.target.content);
                     infoWindow.open(map, obj.target.getPosition());
                 }
                 location.reload();
            }
        });
    });
</script>
</body>
</html>